
@font-face {
    font-family: 'Avenir-Medium';
    src: url('/Fonts/Avenir-Medium.woff2') format('woff2'),
         url('/Fonts/Avenir-medium.woff') format('woff'),
         url('Fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    font-family: 'Avenir-Light';
    src: url('/Fonts/Avenir-Light.woff2') format('woff2'),
         url('/Fonts/Avenir-Light.woff') format('woff'),
         url('/Fonts/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.page {
    
    
    background-attachment:scroll ;
    background-position:center;
 height:100vh;

 height: 100vh; /* Full viewport height */
 width: 100%;
 

 color: rgb(255, 255, 255);
 text-align: center;
 font-size: 1,5em;
 font-family: Avenir-Light;
 overflow: hidden;
 margin-bottom: 3%;
 z-index:-1;
 background-size: cover;


}
    

h1 {
color: rgb(250, 250, 250);
font-family: Avenir-Light;
align-items: center;
color: white;
text-align: center;
font-size: 2em;
z-index:1;
margin-top: 7%;

}

#page1 {

    background-image:url('https://raw.githubusercontent.com/JakobKarlssonsfs/Callbakfilms/main/resrain.png');
}

#page2 {

    background-image:url('https://raw.githubusercontent.com/JakobKarlssonsfs/Callbakfilms/main/resblue.png');
}

/* Responsive text size for smaller screens */
@media (max-width: 768px) {
   
    
    .page {
        
        margin-bottom:3%;
    }

    h1 {

        font-size: 1.2em; 
        margin-top:25%;
    }
}
