

html, body {
   margin:0%;
   padding: 0;
   height: 100%; 
   overflow: hidden;
}

.background-image {
   background-image:url('https://raw.githubusercontent.com/JakobKarlssonsfs/Callbakfilms/main/resrain.png');
   background-position-x: center;
   background-position-y: center;
   background-size: cover;
   height: 100vh;
   width: 100%;
   position: absolute;
   object-fit: cover;
   overflow:hidden;
z-index: -1;


}

p {


color:white;
font-family: Avenir-Light;
font-size: 3em;
justify-content: center;
text-align: center;
}
