


.logoenter { width: 15%;
height: auto;
   margin-left: 0%;
   margin-top: 10%;
   align-items: center;
   justify-content: center;
gap:3rem;
    border-radius: 50%; /* Make the image circular */
    padding: 1% 2%;
    margin-top:0%;

           }
