
       
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
  height: 100%;
overflow: hidden;

}

video {

position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: auto;
z-index: -1;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%, -50%);
object-fit: cover;
background-size: cover;
overflow: hidden;

}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('/Fonts/Avenir-Medium.woff2') format('woff2'),
       url('/Fonts/Avenir-medium.woff') format('woff'),
       url('Fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
  font-family: 'Avenir-Light';
  src: url('/Fonts/Avenir-Light.woff2') format('woff2'),
       url('/Fonts/Avenir-Light.woff') format('woff'),
       url('/Fonts/Avenir-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


nav ul {
text-align: center;
list-style: none;
top: 100px;


}
nav ul li a {
text-decoration: none;
color: rgb(255, 255, 255);


}

nav ul li a:hover {
color: rgb(163, 163, 163); /* Change color on hover */
}
nav ul li {
display: inline-block; /* Display items inline */
margin-right: 30px; /* Space between the menu items */
margin-top: 2%;
}

nav ul li:last-child {
margin-right: 0; /* Remove margin for the last item */
}

/* Style the links */
nav ul li a {

color: white; /* Text color */
text-decoration: none; /* Remove underline */
font-size: 24px;
padding: 5px 10px;
font-family: 'Avenir-Light';


}
@media (max-width: 768px) {
  .hero {
      font-size: 1em;
      
  }
  .page {
      font-size: 0.6em;
  }
       nav ul li a {
              color:#ffffff;
              font-size: 0.8em;
              
       }
       video {
              width: 175%;
              height:auto;
              
       }
       nav ul {
         margin-top:35%;
       
         text-align: center;
        
list-style: none;
top: 10%
       }

html { background-color:#000000;
}
}
