 
    @font-face {
        font-family: 'Avenir-Medium';
        src: url('/Fonts/Avenir-Medium.woff2') format('woff2'),
             url('/Fonts/Avenir-medium.woff') format('woff'),
             url('Fonts/Avenir-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        
        font-family: 'Avenir-Light';
        src: url('/Fonts/Avenir-Light.woff2') format('woff2'),
             url('/Fonts/Avenir-Light.woff') format('woff'),
             url('/Fonts/Avenir-Light.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
   
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
html, body {
    margin: 0;
    padding: 0;
    font-family: Avenir-Light;


    
}

/* Page section with text on left and right */

    
    .page {
        background-image:url('https://raw.githubusercontent.com/JakobKarlssonsfs/Callbakfilms/main/story.jpg');
        height: 100vh; /* Full viewport height */
    width: 100%;
    

    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1,5em;
    font-family: Avenir-Light;
    overflow: hidden;
    margin-bottom: 3%;
    z-index:-1;



}

.page h1 {

    margin-top: 15%;

}


    /* Left and right sections */
.profile-pic1 {
    margin-left: 0%;
    margin-top: 5%;
    width: 15%; 
    height: auto;
   
    justify-content: center;
    border-radius: 50%; /* Make the image circular */
    align-items: center;


}

 .profile-pic2 {
    width: 15%;
height: auto;
   margin-left: 0%;
   margin-top: 5%;
   align-items: center;

    border-radius: 50%; /* Make the image circular */

}

#page0 {
background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.pjk {
   
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1,5em;
    font-family: Avenir-Light;
   
}

.prc {

    font-family: Avenir-Light;
font-size: 30px;
    color: white;
    margin-left: 45%;

}

/* Responsive text size for smaller screens */
@media (max-width: 768px) {
    .background-image {
    
    width: 100%;
    }
    .hero {
        font-size: 0.8em; 

    }

    .hero h1 {

    margin-top:-95%;
    }
    .page {
        font-size: 1.5em;
    }

    .profile-pic1 {
        margin-left: 30%;
        margin-top: 5%;
        width: 140px; 
        height: auto;
       
        justify-content: center;
        border-radius: 50%; /* Make the image circular */
        align-items: center;
        padding: 5px;
    }
    .prc {

        font-family: Avenir-Light;
    font-size: 30px;
        color: white;
        margin-left: 32%;
        margin-top: -10%;
    
    }
    
}
