     /* Reset margins and paddings */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Make the video cover the entire screen */
        body, htmL {
            height: 100%;
            overflow: hidden;
        }

        video {
      position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
             
        }

        /* Add some content on top of the video */
        .content {
            position: relative;
            z-index: 1;
            text-align: center;
            color: white;
            font-family: Arial, sans-serif;
            top: 50%;
            transform: translateY(-50%);
        }

        h1 {
            font-size: 4em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.5em;
        }

        /* Add some styling for buttons */
        .btn {
            background-color: #000000;
            color: white;
            padding: 15px 25px;
            text-decoration: none;
            font-size: 1.2em;
            border-radius: 5px;
            margin-top: 20px;
            display: inline-block;
        }

        .btn:hover {
            background-color: #ff4f3c;
        }
  
